Create Import Data

In [28]:
# import modules
import pandas as pd

Dataset:

In [29]:
raw_data = {'Date': ['1-01', '1-02', '1-03', '1-04', '1-05', '1-06', '1-07', '1-08', '1-09', '1-10', '1-11', '1-12'], 
        'Consumption': [130, 125, 100, 79, 73, 66, 58, 80, 90, 100, 120, 140]} 
df = pd.DataFrame(raw_data, columns = ['Date', 'Consumption'])

In [30]:
df

    Date  Consumption
0   1-01          130
1   1-02          125
2   1-03          100
3   1-04           79
4   1-05           73
5   1-06           66
6   1-07           58
7   1-08           80
8   1-09           90
9   1-10          100
10  1-11          120
11  1-12          140

In [31]:
df.to_csv('dataset.csv')

In [34]:
begin = 1
end = 5

with open('dataset.csv', "r") as file_in:
    with open('update.csv', "w") as file_out:

        writer = csv.writer(file_out)

        for row in csv.reader(file_in):
            writer.writerow(row[begin:end])

NameError: name 'csv' is not defined